h1,h2,h3,h4,h5,h6,p{
    padding: 0;margin: 0;
}
p{
    margin: 5px 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    height: 100%
}
body{
    /* overflow: hidden; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%
}
footer{
    
    
    flex-grow: 1;
}
::-webkit-scrollbar {
    width: 1px;
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.btn{
    outline: none;
}
button, input{
    outline: none !important;
}

.custom_select{
    outline: none;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}
.custom_select option{
    border: none;
    border-style: none;
    color: #aaa;
    cursor: pointer;
    padding: 3px 5px;
    margin: 5px 10px;
    
}
.custom_select option:hover{
    background-color: rgba(0,0,0,1);
}
.footer{
    background: linear-gradient(265.6deg, #C72424 -18.27%, #133174 102.06%);
    /* height: 50px; */
    /* display: none; */
}

.header{
    /* position: fixed; */
    width: 100%;
    /* z-index: 22; */
    background: linear-gradient(265.6deg, #c71515 -38.27%, #0f1053 102.06%);
    
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}

.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px 0;
    
}
.line{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
}


.btn-hero{

    border: none;
    padding: 7px 70px;
    background:-webkit-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-o-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-moz-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    color: #fff;
    transition: all 0.2s ease;
    text-transform: uppercase;
    
}
.btn-hero:hover{
    transform: translate(0px, -5px);
    
}

.btn-hero:active{
    transform: translate(0px, 2px);
    background:-webkit-linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-o-linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-moz-linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    
}
.container {
    max-width: 1140px !important;
}
.dropdown .droppdown_main{
    background: none;
    border: none;
    color: #fff;
    outline: none;
}
.wrap_login{
    width: 300px;
    
}
.wrap_email{
    width: 500px;
}


.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 220px;
    height: 40px;
  }
  
  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color:  transparent transparent #fff transparent;
    position: absolute;
    top: 9px;
    right: 55px;
  }
  .select-styled:hover {
    color: #fff
  }
  .select-styled:active, .select-styled.active {
    color: #fff
  }
  .select-styled:active:after, .select-styled.active:after {
    top: 16px;
    border-color: #fff transparent transparent  transparent;
  }
  
  .select-options {
    display: none;
    border-radius: 5px;
    position: absolute;
    top: -200%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
  }
  .select-options li {
    margin: 5px 0;
    padding: 5px 0;
    text-indent: 15px;
    color: #aaa;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }
  .select-options li:hover {
    color: #aaa;
    background: rgb(250, 250, 250);
  }
  .select-options li[rel="hide"] {
    display: none;
  }
  

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (max-width: 576px){
    .container {
        max-width: 540px;
    }
    .logo{
        font-size: 28px ;
    }
    .dropdown .droppdown_main{
        font-size: 14px;
    }
    .wrap_email{
        width: 300px;
    }
    .select {
        width: 190px;
    }
    .select-styled:after {
        
        
        
        right: 35px;
      }
}

@media (max-width: 320px){
    
    .logo{
        font-size: 20px ;
    }
    .dropdown .droppdown_main{
        font-size: 12px;
    }
    
}





