h1,h2,h3,h4,h5,h6,p{
    padding: 0;margin: 0;
}
p{
    margin: 5px 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{

}


.footer{
    background: linear-gradient(265.6deg, #C72424 -18.27%, #133174 102.06%);
    height: 50px;
    display: none;
}
.header{
    background: linear-gradient(265.6deg, #C72424 -18.27%, #133174 102.06%);
}

.header-wrap{
    display: flex;
    justify-content: space-between;
}

.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px 0;
    
}
.line{
    display: block;
    height: 2px;
    width: 70px;
    background-color: #fff;
}


.btn-hero{

    border: none;
    padding: 7px 70px;
    background:-webkit-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-o-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-moz-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    color: #fff;
    transition: all 0.2s ease;
    text-transform: uppercase;
    
}
.btn-hero:hover{
    transform: translate(0px, -5px);
    
}

.btn-hero:active{
    transform: translate(0px, 2px);
    background:-webkit-linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-o-linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-moz-linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    
}
.container {
    max-width: 1140px !important;
}
.dropdown .droppdown_main{
    background: none;
    border: none;
    color: #fff;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (max-width: 576px){
    .container {
        max-width: 540px;
    }
    .logo{
        font-size: 28px ;
    }
    .dropdown .droppdown_main{
        font-size: 14px;
    }
}

@media (max-width: 320px){
    
    .logo{
        font-size: 20px ;
    }
    .dropdown .droppdown_main{
        font-size: 12px;
    }
}