h1,h2,h3,h4,h5,h6,p{
    padding: 0;margin: 0;
}
p{
    margin: 5px 0;
}

body{

}

.header{
    background:-webkit-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-o-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-moz-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
}
.footer{
    background:-webkit-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-o-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-moz-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    height: 50px;
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
    
    
}

.logo a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 20px 0;
    
}
.logo .line{
    display: block;
    height: 2px;
    width: 300px;
    background-color: #fff;

}

.btn-hero{

    border: none;
    padding: 7px 70px;
    background:-webkit-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-o-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-moz-linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    color: #fff;
    transition: all 0.2s ease;
    text-transform: uppercase;
    
}
.btn-hero:hover{
    transform: translate(0px, -5px);
    
}

.btn-hero:active{
    transform: translate(0px, 2px);
    background:-webkit-linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-o-linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:-moz-linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    background:linear-gradient(46deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    
}