.hall .line{
    background:linear-gradient(229deg, rgb(199, 36, 36) 0%, rgb(19, 49, 116) 80%);
    margin: 30px 0;
    height: 4px;
    width: 100%;

}
.hall_tittle{
    font-size: 24px;
}
.hall .hall_info{
    font-size: 18px;
}
.hall .num_hall{
    color: rgb(255, 95, 46);
    font-weight: bold;
}
.sector{
    padding: 10px 6px;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.place_num{
    
}

.green_sector{
    background-color: rgb(55, 129, 73);
    color: #fff;
}

.orange_sector{
    background-color: rgb(223, 141, 48);
    color: #fff;
}

.red_sector{
    background-color: rgb(155, 56, 56);
    color: #fff;
}
.sector-reserve{
    background-color: rgba(97, 97, 97, 0.4);

}
.sector_link{
    text-decoration: none;
}
.sector_link:hover{
    text-decoration: none;
}
.sector_link:hover .sector{
    text-decoration: none;
    transform: translate(0px, -3px);
    box-shadow: 3px 14px 5px 1px rgba(0,0,0,0.75);
}
/* .sector_link:active .sector{
    background-color: #aaa !important; 
} */
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }