.parallax-window {
    
}   
.hero{
    min-height: 90vh;
    min-width: 100vw;
    /* background: transparent; */
    z-index: 2;
    padding: 100px 0;
    /* background: rgb(0,0,0,0.6); */
    overflow: auto;
    background-image: url('../img/herobg.jpg');
}

  
.hero img{
    /* max-width: 400px; */
}
.hero .row{
    margin: 0;
}
.hero .description-hero{
    color: #fff;
    font-size: 20px;
}
.hero .movie_title{
    color:#fff;
    margin-bottom: 30px;
}
.hero .btn-hero{
    margin-top: 50px;
}
.hero .trailer-hero{
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(42, 147, 233);
}

.title{
    margin: 40px 0;
    text-align: center;
    color: #000;
}


.link_draft{
    text-decoration: none !important;

}

.cards{
    margin-bottom: 50px;
}

.card{
    cursor: pointer;
    border-radius: 10px;
    height: 500px;
    min-height: 100%;
    min-width: 100%;
    /* background-image: url(../../media/posters/875613.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    transition: all 0.3s ease;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    position: relative;
    overflow: hidden;

    margin-bottom: 0px;
    
}
.card:hover{
    filter: grayscale(30%);
    -webkit-filter: grayscale(30%);
    
}

.card .card-info{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 20px;
    color: #fff;
    text-align: left;
    transition: all 0.6s ease;
    transform: translateY(500px);
        
}
.card:hover .card-info {
    transform: translateY(0px);
    
}

.card .card-info .desc{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    
}

.desc-detail{
    margin: 30px 0;
    color: #fff;
    text-align: left;
}

.hide_card{
    display: none;
}



  

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 769px){
    .container {
        max-width: 720px;
    }
    
}
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
    .hero{
        height: auto;
        
    }
}

@media (max-width: 416px){
    .btn{
        width: 100%;
    }
}