.movie{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .movie .desc{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
} */

.trailer{
    /* background: linear-gradient(360deg, rgba(23, 48, 113, 0.932) 0%, rgba(255, 255, 255, 0.32) 100%); */
    position: relative;
    padding: 40px 0;
}
.trailer__title{
    color: rgb(95, 95, 95);
}
.desc-detail{
    margin: 0px 0;
    color: rgb(0, 0, 0);
    text-align: left;
}
.comment p{
    word-break: break-all;
}