





.news_dtail_bg{
    background-image: url('../img/3.png');
    background-size: initial;
    background-repeat: no-repeat;
    /* transform: rotateX(90deg); */
    background-position: top;
}

@media (max-width: 767px){
    .news-list{
        order: 2;
    }
    .comments-list{
        order: 1;
        margin-bottom: 30px;
    }
}

@media (max-width: 320px){
    
   
}