.sessions-tabs{
    margin-top: 30px;
    margin-bottom: 30px;
}
.sessions-tabs .line{
    width: 100%;
    background: #9D2736 ;
}
.sessions-tabs .days{
    font-size: 24px;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
.sessions-tabs .days .day{
    margin-right: 20px;
    
    
}
.sessions-tabs .days .active{
    
    color: #fff !important;
    background-color: #183071;
}
.tabs-content{
    display: none;
}
.visible{
    display: block;
}
.sessions-tabs .days .day{
    text-decoration: none;
    color: #aaa;
    text-transform: uppercase;
    padding: 5px 15px 9px ;
    transition: all 0.3s ease;
    
}

.sessions-tabs .days .day:hover {
    color: #fff;
    background-color: #183071;
    
}
.sessions-tabs .days .day:nth-child(7){
    margin-right: 0px;
}

.news_content{
    overflow: auto;
    height: 200px;
}
.card_news{
    height: 600px;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
    .sessions-top{
        font-size: 24px;
    }
    .sessions-tabs .days{
        font-size: 18px;
    }
    .movie_name{
        font-size: 14px;
    }
    .movie_name__link{
        font-size: 12px;
    }
}
@media (max-width: 576px){
    .container {
        max-width: 540px;
    }
    .sessions-tabs .days{
       
       
    }
    
}

@media (max-width: 320px){
    
   
}