{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

    

    {% block content %}
      <div class="container mt-5">
        <div class="top bg-light py-3 px-3 wrap_login mx-auto">
          <h2 class=" mb-4">{% trans "Sign In" %}</h2>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            
            
            {{ form.as_p }}

           

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            
            <button class="btn btn-primary form-control mt-3" type="submit">{% trans "Sign In" %}</button>
            <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </form>

          {% get_providers as socialaccount_providers %}
          
          {% if socialaccount_providers %}
          
          <p class="mt-4" >войдите с помощью других сервисов</p>
          <!-- <p>{% blocktrans with site.name as site_name %} Please sign in with on of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }}{% endblocktrans %}</p> -->
          
        
          <div class="socialaccount_ballot">

            
            <a href="{% provider_login_url 'google' %}"><i class="fab fa-google-plus-g"></i></a>
            <a href="{% provider_login_url 'vk' %}"><i class="fab fa-vk"></i></a>
          

            <!-- <div class="login-or">{% trans 'or' %}</div> -->

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}
        </div>
        <div class="bottom bg-light mt-2 py-2 px-3 wrap_login mx-auto">
          <p>{% blocktrans %}Если вы еще не создали аккаунт, пожалуйста, 
            <a href="{{ signup_url }}">зарегистрируйтесь</a>{% endblocktrans %}</p>
        </div>
      </div>
    {% endblock %}


