{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="container wrap_login bg-light mt-5 py-4 px-3" style="margin-bottom: 100vh;">
        <h2>{% trans "Change Password" %}</h2>
            
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            
            <button class="btn btn-primary form-control mt-2" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
{% endblock %}
