{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-5" style="margin-bottom: 100vh;">
  
  <div class="top bg-light py-3 px-3 wrap_login mx-auto">
    <h2>{% trans "Sign Up" %}</h2>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="form-group signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary form-control mt-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
  <div class="bottom bg-light mt-2 py-2 px-3 wrap_login mx-auto">
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </div>

</div>


{% endblock %}
