{% extends "base.html" %}
{% load static %}
{% load account %}

{% block title %}{{user}}{% endblock %}

{% block stylesheet %}
  <!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
{% endblock %}

{% block content %}
    <!-- <div class="container w-50 ">
        <form action="#" class="form-inline d-flex justify-content-center mt-5">
          
                
                <input type="text" name="fname" class="form-control mr-2 " id="formGroupExampleInput" placeholder="first name">
            
           
                
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="last name">
            
        </form>
    </div> -->
    
{% endblock %}

{% block js %} 
    
    
{% endblock %}