
{% extends "base.html" %}
{% load static %}
{% block title %}Зал{% endblock %}

{% block stylesheet %} 
<link rel="stylesheet" href="{% static 'css/hall.css' %}">
{% endblock %}

{% block content %}
    <div class="hall">
        <div class="container">
            <h2 class="hall_tittle mt-5">
                Забронюйте місце на фільм {{ movie.name }}
            </h2>
            <span class="line"></span>
            <p class="hall_info"> Сеанс почнеться на {{ session.session_time_start  }} в залі  <span class="num_hall">під номером №{{ hall.number_hall }}</span></p> 
            <em>{{ session.session_date }}</em>
            <div class="alert alert-warning alert-dismissible fade show my-4 " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Увага</strong> Місця розташовані тут не як в залі, тому будьте обережні з вибором місця
              </div>
            <div class="places">
                <div class=" row">
                {% for place in places %} <!-- places.row_number -->
                    <div class="col-lg-1 col-md-2 col-sm-3 col-12 place_num">
                            {% if place.id_sector_id == 1 %}
                            <a href="#" class="sector_link disabled">
                                <p class="sector green_sector"> м/р <br>
                                    {{ place.place_number }} / {{ place.row_number }}
                                </p>
                            </a>
                            {% endif %}
                            {% if place.id_sector_id == 2 %}
                            <a href="#" class="sector_link">
                                <p class="sector orange_sector"> м/р <br>
                                    {{ place.place_number }} / {{ place.row_number }}
                                </p>
                            </a>
                            {% endif %}
                            {% if place.id_sector_id == 3 %}
                            <a href="#" class="sector_link">
                                <p class="sector red_sector"> м/р <br>
                                    {{ place.place_number }} / {{ place.row_number }}
                                </p>
                            </a>
                            {% endif %}
                        
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock  %}

{% block js %}  
{% endblock %}
