
{% extends "base.html" %}
{% load static %}
{% block title %}Зал{% endblock %}

{% block stylesheet %} 
<link rel="stylesheet" href="{% static 'css/hall.css' %}">
{% endblock %}

{% block content %}
    <div class="hall">
        <div class="container mb-5">
            
            <h2 class="hall_tittle mt-5">
                Забронюйте місце на фільм {{ movie.name }}
            </h2>
            <span class="line"></span>
            <p class="hall_info"> Сеанс почнеться на {{ session.id_time_session.time  }} в залі  <span class="num_hall">під номером №{{ hall.number_hall }}</span></p> 
            <em>{{ session.session_date }}</em>
            <div class="alert alert-warning alert-dismissible fade show my-4 " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>Увага</strong> Місця розташовані тут не як в залі, тому будьте обережні з вибором місця
              </div>
            <div class="places">
                <div class=" row">
                
                {% for place in places %} <!-- places.row_number tut vnizu esli vse svporeadke tolika esli budet raznyi filme v odno i to je vremea v odnom zale, takoho ne mojet byti no esli takoe je budet, to bilety pri pokupke budet bronirovatsa v odnom zale v tom v kotorom po idei idet v odno vremea dva filma--> 
                    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-2 col-4 place_num">
                        <a href="{% for ticket in tickets %} 
                                    {% if ticket.id_place_id == place.id %}
                                        {% if ticket.id_session.session_date == session.session_date  %}
                                            {% if ticket.id_session.id_time_session.time == session.id_time_session.time %}
                                                #!
                                            {% endif %}
                                        {% endif %}
                                    {% endif %} 
                                {% endfor %}
                                {% url 'app:reservation' movie.id session.id hall.number_hall place.id place.id_sector_id %}" 
                                class="sector_link 
                                {% for ticket in tickets %} 
                                    {% if ticket.id_place_id == place.id %}
                                        {% if ticket.id_session.session_date == session.session_date  %}
                                            {% if ticket.id_session.id_time_session.time == session.id_time_session.time %}
                                                isDisabled
                                            {% endif %}
                                        {% endif %}
                                    {% endif %} 
                                {% endfor %}">

                            <p class="sector  
                            {% if place.id_sector_id == 1 %}
                                green_sector
                            {% endif %}
                            {% if place.id_sector_id == 2 %}
                                orange_sector{% endif %}
                            {% if place.id_sector_id == 3 %}
                                red_sector
                            {% endif %} 
                            {% for ticket in tickets %} 
                                {% if ticket.id_place_id == place.id %}
                                    {% if ticket.id_session.session_date == session.session_date  %}
                                        {% if ticket.id_session.id_time_session.time == session.id_time_session.time %}
                                            sector-reserve
                                        {% endif %}
                                    {% endif %}
                                {% endif %} 
                            {% endfor %}">
                             м/р <br> {{ place.place_number }} / {{ place.row_number }}
                            </p>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock  %}

{% block js %}  
{% endblock %}



<!-- <a href="
                                {% for ticket in tickets %} 
                                    {% if ticket.id_place_id == place.id %}
                                        #!
                                    {%endif%} 
                                {% endfor %}
                                {% url 'app:reservation' movie.id session.id hall.number_hall place.id place.id_sector_id %}" 
                                class="sector_link 
                                {% for ticket in tickets %} 
                                    {% if ticket.id_place_id == place.id %}
                                        
                                            isDisabled
                                      
                                            
                                    {%endif%} 
                                    
                                    
                                {% endfor %}">

                            <p class="sector  
                            {% if place.id_sector_id == 1 %}
                                green_sector
                            {% endif %}
                            {% if place.id_sector_id == 2 %}
                                orange_sector{% endif %}
                            {% if place.id_sector_id == 3 %}
                                red_sector
                            {% endif %} 
                            {% for ticket in tickets %} 
                                {% if ticket.id_place_id == place.id %}
                                    sector-reserve
                                {%endif%}
                            {% endfor %}">
                             м/р <br> {{ place.place_number }} / {{ place.row_number }}
                            </p>
                        </a> -->