
{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block stylesheet %} 
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
{% endblock %}
{% block content %}
    
    <div class="hero ">
        <div class="container row mx-auto">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 d-flex justify-content-center">
                <img class="img-fluid w-100" src="{{ movie_hero.image.url }}" alt="">
            </div>
            <div class="col-md-7 text-xl-left text-lg-left text-md-left text-sm-center text-center">
                <h2 class="movie_title">
                    {{ movie_hero.name }}
                </h2>
                <p class="description-hero d-xl-block d-lg-block d-md-block d-sm-none d-none "><strong>Тривалість фільма: </strong> {{ movie_hero.duration_film }}</p>
                <p class="description-hero d-xl-block d-lg-block d-md-block d-sm-none d-none "><strong>Країна: </strong> {{ movie_hero.contry }}</p>
                <p class="description-hero d-xl-block d-lg-block d-md-block d-sm-none d-none "><strong>Жанри: </strong> 
                    {% for genre in movie_hero.genre.all %}
                       {{ genre.name }},
                    {% endfor %}
                </p>
                <p class="description-hero d-xl-block d-lg-block d-md-block d-sm-none d-none "><strong>актори: </strong>
                    {% for actor in movie_hero.actor.all %}
                        <a href="{% url 'app:actor_detail' actor.id %}"> {{ actor.name }}</a>,
                    {% endfor %}
                </p>
                <p class="description-hero d-xl-block d-lg-block d-md-block d-sm-none d-none "><strong>режисер: </strong>
                    {% for director in movie_hero.directors.all %}
                        <a href="{% url 'app:actor_detail' director.id %}"> {{ director.name }}</a>
                    {% endfor %}
                </p>
                <p class="description-hero d-xl-block d-lg-block d-md-block d-sm-none d-none "> <strong>Прем’єра: </strong> {{ movie_hero.premiere }} </p>
                <p class="description-hero d-xl-block d-lg-block d-md-block d-sm-none d-none "><strong>Бюджет</strong>  {{ movie_hero.budget }} </p>
                
                
                
                <a href="{% url 'app:sessions' %}" class="btn btn-primary mb-2 ">Забронювати місце</a>
                <a href="{% url 'app:movie_detail' movie_hero.id %}" class="btn btn-secondary mb-2">Докладніше</a>
                
                
                <!-- <a href="#"><input class="btn-hero" type="button" value="Забронювати місце"></a> -->
            </div>
        </div>    
    </div>


    <div class="container">
        <h1 class="title">
            найближчі прем'єри
        </h1>
        
        <div class="cards">
            
            <div class="row">
                {% for film in film_list %} 
                
                <div class="col-md-4 my-3">
                <div class="card" style="background-image: url('{{  film.image.url  }}')">
                        
                        <div class="card-info">
                            <h3 class="card__title">
                                {{ film.name }}
                            </h3>
                            <!-- <p class="duration"> <strong>Тривалість фільма:</strong> 1:30:30 </p>
                            <p class="contry"> <strong>Країна: </strong> Украина, Казахстан</p>
                            <p class="genre"> <strong>Жанри: </strong> Боевик </p>
                            <p class="actors"> <strong>Актори</strong> <a href="#">актори</a> </p>
                            <p class="director"> <strong>Режисер:</strong> режисер </p>
                            <p class="premiere"> <strong>Прем’єра: </strong> 24 травня 2020</p>
                            <p class="budget"> <strong>Бюджет</strong> 44800000</p> -->
                            <p class="desc">{{ film.desc }}</p>
                            <a href="{% url 'app:sessions' %}"><input type="button" class="btn btn-primary mb-2" value="Забронювати квиток"></a>
                            <a href="{% url 'app:movie_detail' film.id %}"><input type="button" class="btn btn-secondary mb-2" value="Докладніше"></a>
                            
                        </div>
                        
                    </div>
                </div>
                {% endfor %} 
                
            </div>
        </div>

        



    </div>
{% endblock  %}
{% block js %} 
    
    
{% endblock %}
