{% extends "base.html" %}
{% load static %}
{% load account %}

{% block title %}{{ movie.name }}{% endblock %}
{% block stylesheet %} 
    <link rel="stylesheet" href="{% static 'css/movie-detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="movie">
            <div class="row ">
                <div class="col-md-4">
                    <img class="img-fluid w-100" src="{{ movie.image.url }}" alt="poster">
                </div>
                <div class="col-md-8">
                    <h3 class="movie-name">{{ movie.name }}</h3>
                    <p class="duration"> <strong>Тривалість фільма:</strong> {{ movie.duration_film }} </p>
                    <p class="contry"> <strong>Країна: </strong> {{ movie.contry }}</p>
                    <p class="genre"> <strong>Жанри: </strong> 
                        {% for genre in movie.genre.all %}
                        {{ genre.name }},
                        {% endfor %}
                    </p>
                    <p class="actors"> <strong>Актори</strong> 
                        {% for actor in movie.actor.all %}
                            <a href="{% url 'app:actor_detail' actor.id %}"> {{ actor.name }}</a>,
                        {% endfor %}
                    </p>
                    <p class="director"> <strong>Режисер:</strong> 
                        {% for director in movie.directors.all %}
                            <a href="{% url 'app:actor_detail' director.id %}"> {{ director.name }}</a>
                        {% endfor %}
                    </p>
                    <p class="premiere"> <strong>Прем’єра: </strong> {{ movie.premiere }}</p>
                    <p class="budget"> <strong>Бюджет</strong>  {{ movie.budget }}</p>
                    
                    <a href="#"><i class="fab fa-youtube"></i> Подивитись трейлер</a> <br>  

                    <a href="{% url 'app:sessions' %}" class="btn btn-primary mt-5">Заброювати місце</a>
                
                </div>
            </div>
            <h4 class="mt-3">Описание</h4><br><p class='desc-detail '></p>{{ movie.desc }} </p>

            <div class="embed-responsive embed-responsive-16by9 my-4">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/48OJbbI0DfE" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                {% user_display user as user_display %}
                
                
                    <form action="{% if user_display %} {% url 'app:movie_comment' movie.id user.id %} {% else %} {% url 'app:movie_comment' movie.id 13 %} {% endif %}" method="POST">
                        {% csrf_token %}
                        <fieldset disabled>
                            <div class="form-group">
                                <input type="text" name="name" id="disabledTextInput" class="form-control" placeholder="{{ user.username }}">
                            </div>
                        </fieldset>
                        <textarea name="comment" id="comment" class="form-control" rows="3" required></textarea>
                        <input class="btn btn-primary form-control mt-2" type="submit" value="залишити коментарий">
                    </form>
                
                    
                
                <h4 class="mt-5">Новини</h4>
                {% for articl in article|slice:"5" %}
                <div class="card my-4 bg-light">
                    <div class="card-header">
                        <a class="text-muted" href="{% url 'news:news_detail' articl.url %}">{{ articl.title }}</a>
                    </div>
                    <div class="card-body">
                        {{ articl.short_describe }}
                    </div>
                </div>
                {% endfor %}
            </div>
                <div class="col-md-8">
                    <div id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        коментарi
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    {% for comment in comments %}
                                        <div class="row d-flex my-3" >
                                            <div class="col-md-2">
                                                <img class="img-fluid" src="{% static 'img/user.png' %}" alt="user">
                                            </div>
                                            <div class="col-md-10 comment">
                                                <strong>{% if comment.id_user.first_name %}{{ comment.id_user.first_name }}{% else %}{{ comment.id_user.username }}{% endif %}</strong>
                                                <!-- <a href="#" type="button" class="close" aria-label="Close"> 
                                                    <span aria-hidden="true">&times;</span>
                                                </a><br> -->
                                                <p>{{ comment.comment }}</p>
                                            </div>
                                            
                                            
                                        </div>  
                                        
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>

                <div class="collapse" id="collapseExample">
                    
                </div>
                
                <!-- <input type="submit" value="Бiльше коментарiв" class="btn btn-primary"> -->
                
            </div> 
        </div>
    </div>
    
{% endblock %}

{% block js %} 
    
    
{% endblock %}