
{% extends "base.html" %}
{% load static i18n %}
{% block title %}Зал{% endblock %}

{% block stylesheet %} 

    <link rel="stylesheet" href="{% static 'css/reservations.css' %}">
{% endblock %}

{% block content %}
            <table class="body-wrap  ">
                <tbody>
                    <tr>
                        <td></td>
                        <td class="container" width="600">
                            <div class="content shadow">
                                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="content-wrap  aligncenter">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="content-block">
                                                                <h1>Cinemax</h1>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="content-block">
                                                                <table class="invoice">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Фільм" %}: </td>
                                                                                            <td class=""> {{ movie.name }} </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Дата показу" %}: </td>
                                                                                            <td class=""> {{ session.session_date }}  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Час сеансу" %}: </td>
                                                                                            <td class=""> {{ time_sessions.time }}  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "зал" %} №: </td>
                                                                                            <td class=""> {{ num_hall }} </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Ряд" %}: </td>
                                                                                            <td class=""> {{ place.row_number }}  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Місце в залі" %}: </td>
                                                                                            <td class=""> {{ place.place_number }}  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Ціна сеансу" %}: </td>
                                                                                            <td class=""> {{ session.price_session }} ₴  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Ціна за сектор" %}: </td>
                                                                                            <td class=""> {{ sector.price_sector }} ₴ </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            
                                                                                            <!-- <img src="{{ test }}" alt=""> -->
                                                                                           
                                                                                        </tr>
                                                                                        
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                                                    <tbody>
                                                                                        
                                                                                        <tr>
                                                                                            <td>{% trans "Кінцева ціна" %}</td>
                                                                                            <td class="alignright"> </td>
                                                                                        </tr>
                                                                                        <tr class="total">
                                                                                            <td class="alignright" width="80%">{% trans "В сумі" %}</td>
                                                                                            <td class="alignright"> {{ price_total }} ₴ </td>
                                                                                        </tr>
                                                                                        
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="d-flex justify-content-center">
                                                                                <form action="{% url 'app:get_ticket' session.id place.id price_total %}" method="get" >
                                                                                    {% csrf_token %}
                                                                                    <div class="input-group">
                                                                                        <input type="email" name="email_input" class= "input-email" id="formGroupExampleInput" placeholder="E-mail" required>
                                                                                        <div class="input-group-append">
                                                                                            <button class="btn btn-success" type="submit">{% trans 'Забронювати' %}</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                                
                                                                            </td>
                                                                        </tr>
                                                                        {% comment %}<!-- <tr>
                                                                            <td>
                                                                                {% for tikect in tikets %}
                                                                                    
                                                                                    <img src="{{ tikect.barcode.url }}" alt="">
                                                                                    
                                                                                {% endfor %}
                                                                            </td>
                                                                        </tr> -->{% endcomment %}
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

    
    
{% endblock  %}

{% block js %}  
{% endblock %}
