
{% extends "base.html" %}
{% load static i18n %}
{% block title %}Зал{% endblock %}

{% block stylesheet %} 
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'code-39-font-master/code39_XLL.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/reservations.css' %}">
{% endblock %}

{% block content %}
    
            <div >321321321</div>
            <div style="font-family: 'Libre Barcode 39 Extended Text', cursive;" class="code_39_S">1232132132</div>


            <table class="body-wrap">
                <tbody>
                    <tr>
                        <td></td>
                        <td class="container" width="600">
                            <div class="content">
                                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="content-wrap aligncenter">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="content-block">
                                                                <h1>Cinemax</h1>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="content-block">
                                                                <table class="invoice">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Фільм" %}: </td>
                                                                                            <td class=""> {{ movie.name }} </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Дата показу" %}: </td>
                                                                                            <td class=""> {{ session.session_date }}  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Час сеансу" %}: </td>
                                                                                            <td class=""> {{ time_sessions.time }}  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "зал" %} №: </td>
                                                                                            <td class=""> {{ num_hall }} </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Ряд" %}: </td>
                                                                                            <td class=""> {{ place.row_number }}  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Місце в залі" %}: </td>
                                                                                            <td class=""> {{ place.place_number }}  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Ціна сеансу" %}: </td>
                                                                                            <td class=""> {{ session.price_session }} ₴  </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="text-right pr-2">{% trans "Ціна за сектор" %}: </td>
                                                                                            <td class=""> {{ sector.price_sector }} ₴ </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            
                                                                                            <!-- <img src="{{ test }}" alt=""> -->
                                                                                           
                                                                                        </tr>
                                                                                        
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                                                    <tbody>
                                                                                        
                                                                                        <tr>
                                                                                            <td>{% trans "Кінцева ціна" %}</td>
                                                                                            <td class="alignright"> </td>
                                                                                        </tr>
                                                                                        <tr class="total">
                                                                                            <td class="alignright" width="80%">{% trans "В сумі" %}</td>
                                                                                            <td class="alignright"> {{ price_total }} ₴ </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <!-- <form method="POST" accept-charset="utf-8" action="https://www.liqpay.ua/api/3/checkout">
                                                                                                    <input type="hidden" name="data" value="eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTMzNDU4MDIyMzk0IiwiYW1vdW50IjoiNSIsImN1cnJlbmN5IjoiVUFIIiwiZGVzY3JpcHRpb24iOiLQnNC+0Lkg0YLQvtCy0LDRgCIsInR5cGUiOiJidXkiLCJsYW5ndWFnZSI6InJ1In0=" />
                                                                                                    <input type="hidden" name="signature" value="H0nvr4dW8BGRCsMtpestPzTH1oo=" />
                                                                                                    <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 7px 20px !important;
                                                                                                        color: #fff !important; font-size:16px !important; font-weight: 600 !important; font-family:OpenSans, sans-serif; cursor: pointer !important; border-radius: 2px !important;
                                                                                                        background: rgb(122,183,43) !important;"onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
                                                                                                        <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                                                                                                            style="margin-right: 7px !important; vertical-align: middle !important;"/>
                                                                                                        <span style="vertical-align:middle; !important">Оплатить 15 UAH</span>
                                                                                                    </button>
                                                                                                </form> -->
                                                                                                
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    
{% endblock  %}

{% block js %}  
{% endblock %}
