
{% extends "base.html" %}
{% load static %}
{% load account %}
{% block title %}Новини{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/news_detail.css' %}">
{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="card mt-5">
            <div class="card-header ">
                <h4>{{news.title}}</h4>
                <p class="mr-5">{{ news.created_at }}</p>
            </div>
            <div class="card-body">
                <p>{{ news.full_describe|linebreaksbr }}</p>
                <br><hr>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        
                        {% if not user.is_anonymous %}
                            
                            
                            <a id="like" class="text-muted" href="#!" onclick="liked_post(event)"><i class="fas fa-thumbs-up {% if user in news.liked.all %} text-primary {% endif %} "></i></a><div class="ml-2 count_liked "><p class="m-0 p-0"> {{ news.liked.all.count }}</p></div>
                            <a id="dislike" class="text-muted" href="#!" onclick="dislike_post(event)"><i class="fas fa-thumbs-down ml-2 {% if user in news.dislike.all %} text-primary {% endif %} "></i></a><div class="ml-2 count_dislike"><p class="m-0 p-0"> {{ news.dislike.all.count }}</p></div>
                        {% endif %}
                    </div>
                    <div class="d-flex">
                        <p>коментарiв: {{ quantity }}</p>
                    </div>
                </div>
            </div>
          </div>
        <div class="row mt-5 ">
            <div class="col-md-4 news-list">
                <h4 class="mb-4">Новини</h4>
                {% for new in news_list|slice:"3" %}
                    <div class="card text-white bg-primary mb-3 d-inline-block" >
                        <div class="card-header">
                            <a class="text-white" href="{% url 'news:news_detail' new.url %}">{{ new.title }}</a>
                        </div>
                        <div class="card-body">
                            <p>{{ new.short_describe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-8 comments-list news_dtail_bg">
                <div id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Ваша думка ?
                                </a>
                            </h5>
                        </div>
                    
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body">
                                {% user_display user as user_display %}
                                <form id="formReview" action="{% if user.is_anonymous %}{% url 'account_login' %}{% endif %}" method="POST">
                                    {% csrf_token %}
                                    <fieldset disabled>
                                        <div class="form-group">
                                            <input type="text" name="name" id="disabledTextInput" class="form-control" placeholder="{% if not user.is_anonymous %}{{ user.username }}{% else %}Гiсть{% endif %}">
                                        </div>
                                    </fieldset>
                                    <textarea name="comment" id="comment" class="form-control" rows="3" required></textarea>
                                    <input class="btn btn-primary form-control mt-2" type="submit" value="залишити коментарий">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    коментарi
                                </a> 
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body_comment ">
                                
                                {% for comment in comments%}
                                    
                                   
                                    <div class="row d-flex p-3 my-3 review-{{comment.id}}" >
                                        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                            <img class="img-fluid" src="{% static 'img/user.png' %}" alt="user">
                                        </div>
                                        <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 comment">
                                            <strong>{% if comment.id_user.first_name %}{{ comment.id_user.first_name }}{% else %}{{ comment.id_user.username }}{% endif %}</strong> <br>
                                            <p id="review_for_page">{{ comment.comment }}</p>
                                            {% if not user.is_anonymous %}
                                                {% if comment.id_user_id == user.id %}
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex">
                                                            <a id="liked_review" class="text-muted" onclick="like_review(`{{ comment.id }}`, event)" href="#!"><i class="fas fa-thumbs-up {% if user in comment.liked.all %} text-primary {% endif %}"></i></a> <div class="ml-2 count_liked_review "><p class="m-0 p-0"> {{ comment.liked.all.count }}</p></div>  
                                                            <a id="dislike_review" class="text-muted" onclick="dislike_review(`{{ comment.id }}`, event)" href="#!"><i class="fas fa-thumbs-down ml-2 {% if user in comment.dislike.all %} text-primary {% endif %}"></i></a> <div class="ml-2 count_dislike_review"><p class="m-0 p-0"> {{ comment.dislike.all.count }}</p></div>
                                                            <a class="ml-2" data-toggle="collapse" href="#reply-{{ comment.id }}" aria-expanded="false" aria-controls="collapseExample" onclick="replyReview('{% if comment.id_user.first_name %}{{ comment.id_user.first_name }}{% else %}{{ comment.id_user.username }}{% endif %}', '{{ comment.id }}')">
                                                                відповісти <i class="fas fa-reply-all"></i>
                                                            </a> 
                                                            
                                                        </div>
                                                        <div class="btn-gtoup dropleft">
                                                            <button class="btn dropdown-toggle" style="background: none;"
                                                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-h"></i>
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                                              
                                                                <a class="dropdown-item text-muted" href="#"  data-toggle="modal" data-target="#edit_review" onclick="puttext_review_and_put_id_review(`{{comment.comment}}`, `{{comment.id}}`)"><i class="far fa-edit mr-1"></i>Редагувати</a>
                                                                <a class="dropdown-item text-danger" href="#" onclick="deleteReview(`{{comment.id}}`, event)"><i class="fas fa-trash-alt mr-1">Видалити</i></a>
                                                            </div>
                                                          </div>
                                                          
                                                    </div>
                                                {% else %}
                                                    <div class="d-flex">
                                                        <a id="liked_review" class="text-muted" onclick="like_review(`{{ comment.id }}`, event)" href="#!"><i class="fas fa-thumbs-up {% if user in comment.liked.all %} text-primary {% endif %}"></i></a> <div class="ml-2 count_liked_review "><p class="m-0 p-0"> {{ comment.liked.all.count }}</p></div>
                                                        <a id="dislike_review" class="text-muted" onclick="dislike_review(`{{ comment.id }}`, event)" href="#!"><i class="fas fa-thumbs-down ml-2 {% if user in comment.dislike.all %} text-primary {% endif %}"></i></a> <div class="ml-2 count_dislike_review"><p class="m-0 p-0"> {{ comment.dislike.all.count }}</p></div>
                                                        <a class="ml-2" data-toggle="collapse" href="#reply-{{ comment.id }}" aria-expanded="false" aria-controls="collapseExample" onclick="replyReview('{% if comment.id_user.first_name %}{{ comment.id_user.first_name }}{% else %}{{ comment.id_user.username }}{% endif %}', '{{ comment.id }}')">
                                                            відповісти <i class="fas fa-reply-all"></i>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                                

                                            {% else %}
                                                <div class="d-flex">
                                                    <a id="liked_review" class="text-muted" href="{% url 'account_login' %}"><i class="fas fa-thumbs-up"></i></a><div class="ml-2 count_liked_review "><p class="m-0 p-0"> {{ comment.liked.all.count }}</p></div>
                                                    <a id="dislike_review" class="text-muted" href="{% url 'account_login' %}"><i class="fas fa-thumbs-down ml-2"></i></a> <div class="ml-2 count_dislike_review"><p class="m-0 p-0"> {{ comment.dislike.all.count }}</p></div>
                                                </div>
                                            {% endif %}


                                            <p>
                                                
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="headingTwo">
                                                        <h5 class="mb-0">
                                                        <a class="collapsed" style="font-size: 16px;" data-toggle="collapse" href="#{{ comment.id_article_id }}{{ comment.id }}" aria-expanded="false" aria-controls="collapseTwo">
                                                            Показати коментарі <i class="far fa-comment-dots"></i>
                                                        </a>
                                                        </h5>
                                                    </div>
                                                    <div id="{{ comment.id_article_id }}{{ comment.id }}" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                        <div class="card-body_reply">
                                                            
                                                            
                                                            
                                                            {% for rev in comments_r %}
                                                                {% if comment.id == rev.id_parent_id %}
                                                                    <div class="media row mt-3 p-2 review_rep-{{rev.id}}">
                                                                        
                                                                        <a class="d-flex col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 pr-3" href="#!">
                                                                            <img class="img-fluid" src="{% static 'img/user.png' %}" alt="user">
                                                                        </a>
                                                                        <div class="media-body  col-8 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                                                            <h5 class="mt-0">{% if not user.is_anonymous %}{% if rev.id_user.first_name %}{{ rev.id_user.first_name }}{% else %}{{ rev.id_user.username }}{% endif %}{% else %}Гiсть{% endif %}</h5>
                                                                            
                                                                            <p id="review_rep_for_page">{{ rev.comment }}</p>
                                                                            {% if not user.is_anonymous %}
                                                                                {% if rev.id_user_id == user.id %}
                                                                                    <div class="d-flex justify-content-between">
                                                                                        <div class="d-flex">
                                                                                            <a id="liked_review_reply" class="text-muted" onclick="like_review_reply(`{{ rev.id }}`, event)" href="#!">
                                                                                                <i class="fas fa-thumbs-up {% if user in rev.liked.all %} text-primary {% endif %}"></i>
                                                                                            </a> 
                                                                                            <div class="ml-2 count_liked_review_reply "><p class="m-0 p-0"> {{ rev.liked.all.count }}</p></div>  
                                                                                            <a id="dislike_review_reply" class="text-muted" onclick="dislike_review_reply(`{{ rev.id }}`, event)" href="#!">
                                                                                                <i class="fas fa-thumbs-down ml-2 {% if user in rev.dislike.all %} text-primary {% endif %}"></i>
                                                                                            </a> 
                                                                                            <div class="ml-2 count_dislike_review_reply"><p class="m-0 p-0"> {{ rev.dislike.all.count }}</p></div>
                                                                                            {% comment %}
                                                                                            <!-- <a class="ml-2" data-toggle="collapse" href="#reply-{{ rev.id }}" aria-expanded="false" aria-controls="collapseExample" onclick="replyReview('{% if rev.id_user.first_name %}{{ rev.id_user.first_name }}{% else %}{{ rev.id_user.username }}{% endif %}', '{{ rev.id }}')">
                                                                                                відповісти <i class="fas fa-reply-all"></i>
                                                                                            </a>  -->
                                                                                            {% endcomment %}
                                                                                        </div>
                                                                                        <div class="btn-gtoup dropleft">
                                                                                            <button class="btn dropdown-toggle" style="background: none;"
                                                                                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                                                                                    aria-haspopup="true" aria-expanded="false">
                                                                                                <i class="fas fa-ellipsis-h"></i>
                                                                                            </button>
                                                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                                                                            
                                                                                                <a class="dropdown-item text-muted" href="#"  data-toggle="modal" data-target="#edit_review_reply" onclick="puttext_review_reply_and_put_id_review(`{{rev.comment}}`, `{{rev.id}}`)"><i class="far fa-edit mr-1"></i>Редагувати</a>
                                                                                                <a class="dropdown-item text-danger" href="#" onclick="deleteReview_reply(`{{rev.id}}`, event)"><i class="fas fa-trash-alt mr-1">Видалити</i></a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- onclick="updateReview(`{{ comment.id }}`, event)" -->
                                                                                    </div>
                                                                                {% else %}
                                                                                    <div class="d-flex">
                                                                                        <a id="liked_review_reply" class="text-muted" onclick="like_review_reply(`{{ rev.id }}`, event)" href="#!"><i class="fas fa-thumbs-up {% if user in rev.liked.all %} text-primary {% endif %}"></i></a> <div class="ml-2 count_liked_review_reply "><p class="m-0 p-0"> {{ rev.liked.all.count }}</p></div>
                                                                                        <a id="dislike_review_reply" class="text-muted" onclick="dislike_review_reply(`{{ rev.id }}`, event)" href="#!"><i class="fas fa-thumbs-down ml-2 {% if user in rev.dislike.all %} text-primary {% endif %}"></i></a> <div class="ml-2 count_dislike_review_reply"><p class="m-0 p-0"> {{ rev.dislike.all.count }}</p></div>
                                                                                        {% comment %}
                                                                                        <!-- <a class="ml-2" data-toggle="collapse" href="#reply-{{ rev.id }}" aria-expanded="false" aria-controls="collapseExample" onclick="replyReview('{% if rev.id_user.first_name %}{{ rev.id_user.first_name }}{% else %}{{ rev.id_user.username }}{% endif %}', '{{ rev.id }}')">
                                                                                            відповісти <i class="fas fa-reply-all"></i>
                                                                                        </a> -->
                                                                                        {% endcomment %}
                                                                                    </div>
                                                                                {% endif %}
                                                                                

                                                                            {% else %}
                                                                                <div class="d-flex">
                                                                                    <a id="liked_review" class="text-muted" href="{% url 'account_login' %}"><i class="fas fa-thumbs-up"></i></a><div class="ml-2 count_liked_review_reply "><p class="m-0 p-0"> {{ rev.liked.all.count }}</p></div>
                                                                                    <a id="dislike_review" class="text-muted" href="{% url 'account_login' %}"><i class="fas fa-thumbs-down ml-2"></i></a> <div class="ml-2 count_dislike_review_reply"><p class="m-0 p-0"> {{ rev.dislike.all.count }}</p></div>
                                                                                </div>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                                {% comment %}
                                                                <!-- <div class="collapse" id="reply-{{ rev.id }}">
                                                                    <div class="card card-body">
                                                                        <form id="formReview_reply" action="{% if not user.is_anonymous %}{% url 'news:add_review' news.id user.id %}{% else %}{% url 'news:add_review' news.id 13 %}{% endif %}" method="POST">
                                                                            {% csrf_token %}
                                                                            <input type="hidden" name="parent" id="contactparent" value="{{ rev.id }}" >
                                                                            <input type="hidden" name="id_reply_user" value="{{ rev.id }}" >
                    
                                                                            <textarea name="comment" id="comment_reply-{{ rev.id }}" class="form-control" rows="3" required></textarea>
                                                                            <input class="btn btn-primary form-control mt-2" type="submit" value="відповісти">
                                                                        </form>
                                                                    </div>
                                                                </div> -->
                                                                {% endcomment %}
                                                                
                                                            {% endfor %}
                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            </p>
                                           <div class="collapse" id="reply-{{ comment.id }}">
                                                <div class="card card-body">
                                                    <form id="formReview_reply" action="" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="parent" id="contactparent" value="" >
                                                        <input type="hidden" name="id_reply_user" value="{{ comment.id }}" >

                                                        <textarea name="comment" id="comment_reply-{{ comment.id }}" class="form-control comment_reply" rows="3" required></textarea>
                                                        <input class="btn btn-primary form-control mt-2" type="submit" value="відповісти">
                                                    </form>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </div> 
                                    
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    
    <!-- Modal -->
    <div class="modal fade" id="edit_review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редагування</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="EditReview_form" action="" method="POST">
                    <input type="hidden" id="id_review" value="">
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea name="edit_review" id="edit_review" class="form-control" rows="5" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Відміна</button>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="edit_review_reply" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редагування</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="EditReview_reply_form" action="" method="POST">
                    <input type="hidden" id="id_review" value="">
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea name="edit_review" id="edit_review" class="form-control" rows="5" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Відміна</button>
                        <button type="submit" class="btn btn-primary">Зберегти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock  %}
    
{% block js %}

<script> 
 
    const formID = 'form#formReview';
    const formID_reply = 'form#formReview_reply';
    const formID_edit = 'form#EditReview_form';
    const formID_edit_reply = 'form#EditReview_reply_form';

    function replyReview(name_user, id_review){
        // console.log(id_review)
        $(formID_reply + ' #contactparent').val(id_review);
        $(formID_reply + ' #comment_reply-'+id_review).val(name_user+', ');
    }

    $(formID_reply).on('submit', (e) => {
        e.preventDefault();
        
        var formID_rep = '#reply-'+String($(formID_reply + ' #contactparent').val());
        console.log(formID_rep);
        $.ajax({
            
            url: "{% if not user.is_anonymous %}{% url 'news:add_review' news.id user.id %}{% else %}{% url 'news:add_review' news.id 13 %}{% endif %}", // /news/add_review/
            type: 'POST',
            dataType: 'json',
            data: {
                'comment': $(formID_rep + ' '+ formID_reply + ' .comment_reply').val(),
                'parent': $(formID_reply + ' #contactparent').val(),
            },
            success: function (data) {
                // var order_data = response.order_data;
                console.log(data)
                console.log('success')
                CreateReview_reply(data);
                $(formID_rep + ' .comment_reply').val('');
                
                $(formID_rep).toggleClass('show');
                
                
            }
        });
    });
    `{% if not user.is_anonymous %}`   
    $(formID).on('submit', (e) => {
        e.preventDefault();
        $.ajax({
            
            url: "{% if not user.is_anonymous %}{% url 'news:add_review' news.id user.id %}{% else %}{% url 'news:add_review' news.id 13 %}{% endif %}", // /news/add_review/
            type: 'POST',
            dataType: 'json',
            data: {
                'comment': $(formID + ' #comment').val(),
            },
            success: function (data) {
                // var order_data = response.order_data;
                console.log(data)
                CreateReview(data);
                $(formID + ' #comment').val('');
                
                
                
            }
        });
        
    });
    `{% endif %}`
    function CreateReview_reply(data){

        var id_comment_not_id_reply = $(formID_reply + ' #contactparent').val();
        var id_article = `{{ news.id }}`;
        
        $('#'+id_article+id_comment_not_id_reply).append(
            `
                <div class="card-body_reply">
                    <div class="media row mt-3 p-2 review_rep-`+data.id_comment+`">
                    <a class="d-flex col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 pr-3 pr-3" href="#!">
                        <img class="img-fluid" src="{% static 'img/user.png' %}" alt="user">
                    </a>
                    <div class="media-body col-8 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    
                        <h5 class="mt-0">{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</h5>
                        <p id="review_rep_for_page">`+data.comment+`</p>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <a id="liked_review_reply" class="text-muted" onclick="like_review_reply(`+data.id_comment+`, event)" href="#!"><i class="fas fa-thumbs-up"></i></a> <div class="ml-2 count_liked_review_reply "><p class="m-0 p-0">`+data.count_liked+`</p></div>  
                                <a id="dislike_review_reply" class="text-muted" onclick="dislike_review_reply(`+data.id_comment+`, event)" href="#!"><i class="fas fa-thumbs-down ml-2"></i></a> <div class="ml-2 count_dislike_review_reply"><p class="m-0 p-0">`+data.count_dislike+`</p></div>
                            </div>
                            <div class="btn-gtoup dropleft">
                                <button class="btn dropdown-toggle" style="background: none;"
                                        type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                
                                    <a class="dropdown-item text-muted" href="#"  data-toggle="modal" data-target="#edit_review_reply" onclick="puttext_review_reply_and_put_id_review('`+data.comment+`', `+data.id_comment+`)"><i class="far fa-edit mr-1"></i>Редагувати</a>
                                    <a class="dropdown-item text-danger" href="#" onclick="deleteReview_reply(`+data.id_comment+`, event)"><i class="fas fa-trash-alt mr-1">Видалити</i></a>
                                </div>
                            </div>
                            
                        </div>
                            
                    </div>
                </div>
            </div>
            
            
            `
        );
    };
    function CreateReview(data){
        
        $('.card-body_comment').prepend(
            `
            <div class="row d-flex p-3 my-3 review-`+data.id_comment+`" >
                <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img class="img-fluid" src="{% static 'img/user.png' %}" alt="user">
                </div>
                <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 comment">
                    <strong>{% if user.is_anonymous %}Гiсть{% else %}{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}{% endif %}</strong> <br>
                    <p id="review_for_page">` +data['comment']+ `</p>
                    {% if not user.is_anonymous %}

                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="d-flex">
                                <a id="liked_review" class="text-muted" onclick="like_review(` +data.id_comment+ `, event)" href="#!"><i class="fas fa-thumbs-up "></i></a> <div class="ml-2 count_liked_review "><p class="m-0 p-0"> `+ data.count_liked +`</p></div>
                                <a id="dislike_review" class="text-muted" onclick="dislike_review(` +data.id_comment+ `, event)" href="#!"><i class="fas fa-thumbs-down ml-2"></i></a> <div class="ml-2 count_dislike_review"><p class="m-0 p-0">`+ data.count_dislike +`</p></div>
                                <a class="ml-2" href="#reply-` +data.id_comment+ `" onclick="window.location.reload();">
                                    відповісти <i class="fas fa-reply-all"></i>
                                </a> 
                            </div>
                        </div>
                        <div class="btn-gtoup dropleft">
                            <button class="btn dropdown-toggle" style="background: none;"
                                    type="button" id="dropdownMenu1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                                
                                <a class="dropdown-item text-muted" href="#"  data-toggle="modal" data-target="#edit_review" onclick="puttext_review_and_put_id_review('`+data.comment+`', `+data.id_comment+`)"><i class="far fa-edit mr-1"></i>Редагувати</a>
                                <a class="dropdown-item text-danger" href="#" onClick="deleteReview(`+data.id_comment+`, event)"><i class="fas fa-trash-alt mr-1">Видалити</i></a>
                            </div>
                            </div>
                    </div>
                    {% else %}
                        <div class="d-flex">
                            <a id="liked_review" class="text-muted" href="{% url 'account_login' %}"><i class="fas fa-thumbs-up"></i></a><div class="ml-2 count_liked_review "><p class="m-0 p-0">`+ data.count_liked +`</p></div>
                            <a id="dislike_review" class="text-muted" href="{% url 'account_login' %}"><i class="fas fa-thumbs-down ml-2"></i></a> <div class="ml-2 count_dislike_review"><p class="m-0 p-0">`+ data.count_dislike +`</p></div>
                        </div>
                    {% endif %}

                    <p>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                <a class="collapsed" style="font-size: 16px;" data-toggle="collapse" href="#{{news.id}}`+data.id_comment+`" aria-expanded="false" aria-controls="collapseTwo">
                                    Показати коментарі <i class="far fa-comment-dots"></i>
                                </a>
                                </h5>
                            </div>
                            <div id="{{news.id}}`+data.id_comment+`" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body_reply">
                                </div>
                            </div>
                        </div>
                    </p>

            </div> 
            
            `
        );
        console.log('success added')
    }
    $(formID_edit).on('submit', (e) => {
        e.preventDefault();
        $.ajax({
            url: "{% url 'news:update_review' %}",
            type: 'POST',
            datatype:'json',
            data: {
                'id_review': $(formID_edit + ' #id_review').val(),
                'review_edited': $(formID_edit + ' #edit_review').val(),
            },
            success: function(data){
                
                update_review_in_this_page(data);
                
                $(formID_edit).trigger("reset");
                $('#edit_review').modal('hide');
                console.log('success edited');
            }
        });
    });

    $(formID_edit_reply).on('submit', (e) => {
        e.preventDefault();
        $.ajax({
            url: "{% url 'news:update_review' %}",
            type: 'POST',
            datatype:'json',
            data: {
                'id_review': $(formID_edit_reply + ' #id_review').val(),
                'review_edited': $(formID_edit_reply + ' #edit_review').val(),
            },
            success: function(data){
                
                update_review_reply_in_this_page(data);
                $(formID_edit_reply).trigger("reset");
                $('#edit_review_reply').modal('hide');
                console.log('success edited');
            }
        });
    });
    

    // Delete Django Ajax Call
    function deleteReview(id_review, e) {
        var action = confirm("Ви впевнені що хочете видалити коментар?");
        e.preventDefault();
        if (action != false) {
            $.ajax({
                url: '{% url "news:ajax_delete" %}',
                data: {
                    'id_review': id_review,
                },
                dataType: 'json',
                success: function (data) {
                    
                    if (data.deleted) {
                        
                        $(".card-body_comment .review-" + id_review).remove();
                        
                    }
                }
            });
        }
    }

    function deleteReview_reply(id_review, e) {
        var action = confirm("Ви впевнені що хочете видалити коментар?");
        e.preventDefault();
        if (action != false) {
            $.ajax({
                url: '{% url "news:ajax_delete" %}',
                data: {
                    'id_review': id_review,
                },
                dataType: 'json',
                success: function (data) {
                    
                    if (data.deleted) {
                        
                        $(".card-body_comment .review_rep-" + id_review).remove();
                        
                    }
                    console.log('success deleted')
                }
            });
        }
    }
    
    function update_review_reply_in_this_page(data){
        var value = data.review_edited;
        $('.review_rep-'+data.id_review+' #review_rep_for_page').text(value);
        
    }
    function update_review_in_this_page(data){
        var value = data.review_edited
        $('.review-'+data.id_review+' #review_for_page').text(value);
        
    }

    function puttext_review_and_put_id_review(txt_review, id_review){
        $(formID_edit + ' #edit_review').val(txt_review);
        $(formID_edit + ' #id_review').val(id_review);
    }
    function puttext_review_reply_and_put_id_review(txt_review, id_review){
        $(formID_edit_reply + ' #edit_review').val(txt_review);
        $(formID_edit_reply + ' #id_review').val(id_review);
    }

    function liked_post(e){
        e.preventDefault();
        $.ajax({
            url: '{% url "news:liked_post" %}',
            data: {
                'id_article': `{{ news.id }}`,
            },
            dataType: 'json',
            success: function (data) {
                
                
                $('.count_dislike p').text(data.conut_dislike);
                $('.count_liked p').text(data.count_like);
                
                if (data.user_liked){
                    $('#dislike i').removeClass('text-primary');
                    $('#like i').addClass('text-primary');
                }else{
                    $('#like i').removeClass('text-primary');
                }
                console.log('success liked');
                    
            
                    // $('#like i').removeClass('text-primary');
            
                
            }   
        });
    }

    function dislike_post(e){
        e.preventDefault();
        $.ajax({
            url: '{% url "news:dislike_post" %}',
            data: {
                'id_article': `{{ news.id }}`,
            },
            dataType: 'json',
            success: function (data) {
                
                
                $('.count_dislike p').text(data.conut_dislike);
                $('.count_liked p').text(data.count_like);

                if (data.user_dislike){
                    $('#like i').removeClass('text-primary');
                    $('#dislike i').addClass('text-primary');
                }else{
                    $('#dislike i').removeClass('text-primary');
                }
                console.log('success dislike');
            }
        });
    }
    function like_review(id_review, e){
        e.preventDefault();
        $.ajax({
            url: '{% url "news:liked_review" %}',
            data: {
                'id_article': `{{ news.id }}`,
                'id_review': id_review 
            },
            dataType: 'json',
            success: function (data) {
                
                
                $('.review-' +data.id_review+ ' .count_dislike_review p').text(data.conut_dislike);
                $('.review-' +data.id_review+ ' .count_liked_review p').text(data.count_like);

                if (data.user_liked){
                    $('.review-' +data.id_review+ ' #dislike_review i').removeClass('text-primary');
                    $('.review-' +data.id_review+ ' #liked_review i').addClass('text-primary');
                    
                }else{
                    $('.review-' +data.id_review+ ' #liked_review i').removeClass('text-primary');
                }
                console.log('success like');
                
            }
        });
    }
    function dislike_review(id_review, e){
        e.preventDefault();
        $.ajax({
            url: '{% url "news:dislike_review" %}',
            data: {
                'id_article': `{{ news.id }}`,
                'id_review': id_review 
            },
            dataType: 'json',
            success: function (data) {
                
          
                $('.review-' +data.id_review+ ' .count_dislike_review p').text(data.conut_dislike);
                $('.review-' +data.id_review+ ' .count_liked_review p').text(data.count_like);

                if (data.user_dislike){
                    $('.review-' +data.id_review+ ' #liked_review i').removeClass('text-primary');
                    $('.review-' +data.id_review+ ' #dislike_review i').addClass('text-primary');
                }else{
                    $('.review-' +data.id_review+ ' #dislike_review i').removeClass('text-primary')
                }
                console.log('success dislike');
                
            }
        });
    }

    function like_review_reply(id_review, e){
        e.preventDefault();
        $.ajax({
            url: '{% url "news:liked_review" %}',
            data: {
                'id_article': `{{ news.id }}`,
                'id_review': id_review 
            },
            dataType: 'json',
            success: function (data) {
                
        
                $('.review_rep-' +data.id_review+ ' .count_dislike_review_reply p').text(data.conut_dislike);
                $('.review_rep-' +data.id_review+ ' .count_liked_review_reply p').text(data.count_like);

                if (data.user_liked){
                    $('.review_rep-' +data.id_review+ ' #dislike_review_reply i').removeClass('text-primary');
                    $('.review_rep-' +data.id_review+ ' #liked_review_reply i').addClass('text-primary');
                    
                }else{
                    $('.review_rep-' +data.id_review+ ' #liked_review_reply i').removeClass('text-primary');
                }
                console.log('success like');
                
            }
        });
    }
    function dislike_review_reply(id_review, e){
        e.preventDefault();
        $.ajax({
            url: '{% url "news:dislike_review" %}',
            data: {
                'id_article': `{{ news.id }}`,
                'id_review': id_review 
            },
            dataType: 'json',
            success: function (data) {
                
                
                $('.review_rep-' +data.id_review+ ' .count_dislike_review_reply p').text(data.conut_dislike);
                $('.review_rep-' +data.id_review+ ' .count_liked_review_reply p').text(data.count_like);

                if (data.user_dislike){
                    $('.review_rep-' +data.id_review+ ' #liked_review_reply i').removeClass('text-primary');
                    $('.review_rep-' +data.id_review+ ' #dislike_review_reply i').addClass('text-primary');
                }else{
                    $('.review_rep-' +data.id_review+ ' #dislike_review_reply i').removeClass('text-primary')
                }
                console.log('success dislike');
            }
        });
    }



</script>

{% endblock %}
    