
{% extends "base.html" %}
{% load static %}
{% load account %}
{% block title %}Новини{% endblock %}
{% block stylesheet %} {% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h4>{{news.title}}</h4>
            </div>
            <div class="card-body">
                <p>{{ news.full_describe|linebreaksbr }}</p>
                <br><hr>
                <div class="d-flex justify-content-between">
                    <p>{{ news.created_at }}</p>
                    <em>коментарiв: {{ quantity }}</em>
                </div>
            </div>
          </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <h4 class="mb-4">Новини</h4>
                {% for new in news_list|slice:"3" %}
                    <div class="card text-white bg-primary mb-3 d-inline-block" >
                        <div class="card-header">
                            <a class="text-white" href="{% url 'news:news_detail' new.url %}">{{ new.title }}</a>
                        </div>
                        <div class="card-body">
                            <p>{{ new.short_describe }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-8">
                <div id="accordion" role="tablist">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Ваша думка ?
                                </a>
                            </h5>
                        </div>
                    
                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body">
                                {% user_display user as user_display %}
                
                                
                                <form id="formReview" action="{% if user_display %} {% url 'news:article_comments' news.id user.id %} {% else %} {% url 'news:article_comments' news.id 13 %} {% endif %}" method="POST">
                                    {% csrf_token %}
                                    <fieldset disabled>
                                        <div class="form-group">
                                            <input type="text" name="comment" id="disabledTextInput" class="form-control" placeholder="{{ user.username }}">
                                        </div>
                                    </fieldset>
                                    <textarea name="comment" id="comment" class="form-control" rows="3" required></textarea>
                                    <input class="btn btn-primary form-control mt-2" type="submit" value="залишити коментарий">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    коментарi
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body">
                                {% for comment in comments %}
                                        
                                            <div class="row d-flex my-3" >
                                                <div class="col-md-2">
                                                    <img class="img-fluid" src="{% static 'img/user.png' %}" alt="user">
                                                </div>
                                                <div class="col-md-10 comment">
                                                    <strong>{% if comment.id_user.first_name %}{{ comment.id_user.first_name }}{% else %}{{ comment.id_user.username }}{% endif %}</strong> <br>
                                                    <p>{{ comment.comment }}</p>
                                                    <p>
                                                        <a class="" data-toggle="collapse" href="#{{ comment.id_user.username }}{{forloop.counter}}" aria-expanded="false" aria-controls="collapseExample" onclick="addReview('{% if comment.id_user.first_name %}{{ comment.id_user.first_name }}{% else %}{{ comment.id_user.username }}{% endif %}', '{{forloop.counter}}')">
                                                            відповісти <i class="fas fa-reply-all"></i>
                                                        </a>
                                                        <div class="card">
                                                            <div class="card-header" role="tab" id="headingTwo">
                                                                <h5 class="mb-0">
                                                                <a class="collapsed" style="font-size: 16px;" data-toggle="collapse" href="#{{ comment.id_user.username }}{{forloop.counter}}{{forloop.counter}}" aria-expanded="false" aria-controls="collapseTwo">
                                                                    Показати коментарі <i class="far fa-comment-dots"></i>
                                                                </a>
                                                                </h5>
                                                            </div>
                                                            <div id="{{ comment.id_user.username }}{{forloop.counter}}{{forloop.counter}}" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                                <div class="card-body">
                                                                    
                                                                    <div class="media row mt-3">
                                                                        <a class="d-flex col-md-2 pr-3" href="#!">
                                                                            <img class="img-fluid" src="{% static 'img/user.png' %}" alt="user">
                                                                        </a>
                                                                        <div class="media-body col-md-10">
                                                                            <h5 class="mt-0">Media heading</h5>
                                                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </p>
                                                   
                                                    <div class="collapse" id="{{ comment.id_user.username }}{{forloop.counter}}">
                                                        <div class="card card-body">
                                                            <form id="formReview" action="{% if user_display %} {% url 'news:article_comments' news.id user.id %} {% else %} {% url 'news:article_comments' news.id 13 %} {% endif %}" method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="parent" id="contactparent" value="{{ comment.id_user_id }}" >
                                                                
                                                                <textarea name="comment" id="comment_reply{{forloop.counter}}" class="form-control" rows="3" required></textarea>
                                                                <input class="btn btn-primary form-control mt-2" type="submit" value="відповісти">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                      
                                        
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
       
        
    </div>
    <script>
        function addReview( name, forloop_counter){
           
            document.getElementById('comment_reply'+forloop_counter).innerText = `${name}, `
        }
    </script>

{% endblock  %}
    
{% block js %} {% endblock %}
    