{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'css/fontawsome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    
    {% block stylesheet %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">  
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-wrap">
              
            
              
                <nav class="navbar navbar-expand-lg navbar-dark ">
                  <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <h1 class="logo">
                    <span class="line"></span>
                    <a href="{% url 'app:home' %}">Cinemax</a>
                    <span class="line"></span>
                  </h1>
                  
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'app:home' %}">Головна<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'app:sessions' %}">Сеанси</a>
                      </li>
                    </ul>
                  </div>
                  </nav>
            </div>
        </div>

    </header>
    {% block content %}
    {% endblock  %}

    <footer class="footer">
    </footer>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    {% block js %}{% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>      